<div class="container">
	<!--<div class="row">-->
	<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
	<!--<span class="label label-success">Label</span>-->
	<!--</div>-->
	<!--</div>-->
	<div class="row">
		<div class="  col-md-6 ">
			<form role="form">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

						<div class="form-group">
							<label for="firstName">firstName</label>
							<input type="text" class="form-control" ng-model="guest.firstName" name="firstName" id="firstName"
								   placeholder="First name...">
							<label for="lastName">last</label>
							<input type="text" class="form-control" ng-model="guest.lastName" name="lastName" id="lastName"
								   placeholder="Last name...">
							<label for="mail">email</label>
							<input type="text" class="form-control" ng-model="guest.email" name="" id="mail" placeholder="Email...">
							<label for="phone">phone</label>
							<input type="text" class="form-control" ng-model="guest.phone" name="" id="phone" placeholder="Phone...">
							<label for="ref">ref</label>
							<input type="text" class="form-control" ng-model="guest.bookRef" name="" id="ref"
								   placeholder="Milleniums reference...">
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

						<div class="form-group">
							<label for="check-in">check-in</label>
							<input type="date" class="form-control" ng-model="guest.checkIn" name="" id="check-in" placeholder="First name...">
							<label for="check-out">check-out</label>
							<input type="date" class="form-control" ng-model="guest.checkOut" name="" id="check-out" placeholder="Last name...">
							<label for="mail">due-date-1</label>
							<input type="date" class="form-control" name="" id="due-1" placeholder="Email...">
							<label for="phone">due-date-2</label>
							<input type="date" class="form-control" name="" id="due-2" placeholder="Phone...">
							<label for="ref">payment1</label>
							<input type="date" class="form-control" name="" id="payment1" placeholder="Milleniums reference...">
							<label for="ref">payment2</label>
							<input type="date" class="form-control" name="" id="payment2" placeholder="Milleniums reference...">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="payedto">first</label>
							<input type="text" class="form-control" name="" id="payedto" placeholder="First name...">
							<label for="prospsrc">last</label>
							<input type="text" class="form-control" name="" id="prospsrc" placeholder="Last name...">
							<label for="fee">last</label>
							<input type="text" class="form-control" name="" id="fee" placeholder="Email...">
							<label for="payment">last</label>
							<input type="text" class="form-control" name="" id="payment" placeholder="Phone...">
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<label for="comment">comment</label>
							<textarea style="width: 100%" name="" id="comment" rows="10"></textarea>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-primary" ng-click="create()">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<div class="gridStyle" ng-grid="gridOptions" ></div>
		</div>
	</div>

</div>